---
import { Button } from '../ui/button';
import { ChevronRightIcon } from 'lucide-react';

export interface Props {
  courseId: string;
}

const { courseId } = Astro.props;
---

<div 
  class="absolute bottom-0 right-0 size-auto cursor-pointer flex items-center justify-center"
  onclick={`document.getElementById('dialog-${courseId}').showModal()`}
  role="button"
  tabindex="0"
>
  <Button size="icon-lg" variant="outline-blue">
    <ChevronRightIcon className="size-5" strokeWidth={2} />
  </Button>
</div>
