---
export interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`w-full p-3 flex items-stretch mx-auto hover:outline transition-all duration-300 ease-in-out max-w-[450px] shadow-lg/15 lg:max-w-none border-neutral-200 rounded-lg bg-neutral-100 h-full ${className}`}>
  <slot />
</div>
