---
import { ArrowRightIcon } from "lucide-react";
import { AccordionFAQ } from "./components/faq";
import { Button } from "~/components/ui/button";
---

<section class="container">
  <div class="min-h-screen flex items-center justify-center flex-col">
    <div class="mb-12 flex flex-col items-center text-center">
      <h2 class="text-xl sm:text-2xl lg:text-3xl font-bold">
        Frequently Asked Questions
      </h2>
      <p class="text-sm sm:text-base lg:text-xl">
        Semua yang perlu kamu tahu sebelum memulai perjalanan belajarmu
      </p>
    </div>
    <AccordionFAQ client:load />
    <a class="mt-6" href="/bantuan">
      <Button variant="embossed">
        <span class="-translate-y-0.25"> Pusat Bantuan </span>
        <ArrowRightIcon />
      </Button>
    </a>
  </div>
</section>
