---
import { BackgroundEllipse } from "~/components/ellipse";
import { Button } from "~/components/ui/button";
---

<div class="min-h-screen bg-[#11BEF9] relative overflow-hidden">
  <BackgroundEllipse />
  <div
    class="relative z-1 flex items-center justify-center flex-col mt-64 mb-16"
  >
    <div class="bg-transparent border-2 border-blue-500 px-4 py-2 rounded mb-4">
      500+ Mentor Terkurasi | 50+ Bidang Studi
    </div>
    <p
      class="relative z-1 text-center text-2xl lg:text-4xl leading-tight font-bold"
    >
      Pegang
      <span class="font-serif italic font-regular text-[#3D6DBA]"
        >Kendali Penuh</span
      >
      Atas Belajarmu,
      <br />
      Saatnya Pilih Sendiri
      <span class="font-serif italic font-regular text-[#3D6DBA]"
        >Mentormu!</span
      >
    </p>
    <p class="max-w-xl text-center text-xl mt-4">
      Platform tutor terkurasi yang memberimu akses untuk<br /> mencari, membandingkan,
      dan memilih sendiri pengajar
    </p>
    <div class="mt-8 space-x-5 mb-18">
      <a href="#">
        <Button> Tentang Kami </Button>
      </a>
      <a href="#">
        <Button variant={"embossed"}> Lihat Semua Kursus </Button>
      </a>
    </div>
    <section class="bg-amber-300 w-full container min-h-[350px]">a</section>
  </div>
</div>
