---
import { Button } from "~/components/ui/button";
import HeroBackground from "~/components/background/hero-background.astro";
import MentorCarousel from "./components/_hero-carousel.astro";
---

<div class="bg-white relative overflow-hidden">
  <HeroBackground />

  <div
    class="relative z-1 flex items-center justify-center flex-col mt-64 mb-16"
  >
    <div
      class="bg-transparent border-2 border-primary-500 px-4 py-2 rounded mb-4"
    >
      500+ Mentor Terkurasi | 50+ Bidang Studi
    </div>
    <p
      class="relative z-1 text-center text-2xl lg:text-4xl leading-tight font-bold"
    >
      Pegang
      <span class="font-serif italic font-regular text-secondary-600"
        >Kendali Penuh</span
      >
      Atas Belajarmu,
      <br />
      Saatnya Pilih Sendiri
      <span class="font-serif italic font-regular text-secondary-600"
        >Mentormu!</span
      >
    </p>
    <p class="max-w-xl text-center text-xl mt-4">
      Platform tutor terkurasi yang memberimu akses untuk<br /> mencari, membandingkan,
      dan memilih sendiri pengajar
    </p>
    <div class="mt-8 space-x-5 mb-18">
      <a href="#">
        <Button> Tentang Kami </Button>
      </a>
      <a href="#">
        <Button variant={"embossed"}> Lihat Semua Kursus </Button>
      </a>
    </div>
    <section
      class="bg-primary-100 w-full max-w-[1300px] min-h-[350px] inset-shadow-sm/10 rounded-2xl"
    >
      <MentorCarousel />
    </section>
  </div>
</div>
