---
import StarRating from "~/components/ui/star-rating.tsx";
import { Button } from "~/components/ui/button.tsx";
import { ArrowRightIcon } from "lucide-react";
import TutorCard from "~/components/tutor/tutor-card.astro";
import TutorCardContent from "~/components/tutor/tutor-card-content.astro";
import { contentfulClient } from "~/lib/contentful";
import type { TutorSkeleton } from "~/lib/types";

const tutors = await contentfulClient.getEntries<TutorSkeleton>({
  content_type: "tutor",
});

// console.log("tutors", tutors.items[0].fields.picture.fields?.file?.url);
---

<section class="container">
    <div class="flex flex-col items-center text-center mb-12 mt-26">
      <h2 class="text-xl sm:text-2xl lg:text-3xl font-bold">
        Temukan Partner Belajar Terbaikmu
      </h2>
      <p class="text-sm sm:text-base lg:text-xl">
        Semua yang perlu kamu tahu sebelum memulai perjalanan belajarmu
      </p>
      <a class="mt-3" href="/tutor">
        <Button variant="embossed">
          <span class="-translate-y-0.25"> Lihat Semua Tutor </span>
          <ArrowRightIcon />
        </Button>
      </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 mb-26">
      {(tutors.items as any[]).slice(0, 4).map((tutor) => (
        <TutorCard backgroundImage={tutor.fields?.picture?.fields?.file?.url} class="h-96">
          <TutorCardContent>
            <div class="flex items-start justify-between mb-1.5">
              <h3 class="text-xl font-bold text-gray-900 line-clamp-2">{tutor.fields?.name}</h3>
              <div class="flex-shrink-0">
                <StarRating 
                  value={tutor.fields.rating || 4.5} 
                  readOnly 
                  size={18}
                  className="align-middle"
                />
              </div>
            </div>
            
            <div class="border-t-2 border-gray-200 pt-1.5">
              <p class="text-xs text-gray-600">Spesialisasi:</p>
              <p class="text-lg font-semibold text-gray-900 line-clamp-1">{tutor.fields.specialization}</p>
            </div>
          </TutorCardContent>
        </TutorCard>
      ))}
    </div>
</section>

