---
import Card from "~/components/card/card.astro";

const WHY_CONTENT = [
  {
    title: "Dimulai dari Pilihanmu",
    content:
      "Bandingkan ratusan mentor terverifikasi dan temukan gaya mengajar untukmu.",
    imageSrc: "/src/assets/home/1.png",
  },
  {
    title: "Belajar dengan Ahli",
    content:
      "Dapatkan pengalaman belajar dari mentor berpengalaman di bidangnya masing-masing.",
    imageSrc: "/src/assets/home/2.png",
  },
  {
    title: "Fleksibel dan Interaktif",
    content:
      "Sesuaikan jadwal belajar dan nikmati pengalaman belajar yang interaktif dan menyenangkan.",
    imageSrc: "/src/assets/home/3.png",
  },
];
---

<section class="container">
  <div class="flex items-center justify-center flex-col py-26">
    <div class="mb-12 flex flex-col items-center">
      <h2 class="text-2xl lg:text-3xl font-bold">
        Kenapa<span class="italic text-secondary-600 font-serif">
          Castle Academy
        </span> Berbeda?
      </h2>
      <p class="text-base lg:text-xl">
        Caramu merancang sendiri jalur sukses belajarmu.
      </p>
    </div>
    <div
      class="flex flex-wrap items-center justify-center lg:grid lg:grid-cols-3 gap-8 max-w-[972px]"
    >
      {
        WHY_CONTENT.map((item, index) => (
          <Card 
            title={item.title} 
            content={item.content}
            imageSrc={item.imageSrc}
            placeholder="Castle Academy"
          />
        ))
      }
    </div>
  </div>
</section>
