---

---

<footer class="bg-primary-600">
  <div class="container flex flex-col items-center">
    <div
      class="pt-14 grid grid-cols-1 md:grid-cols-3 gap-6 justify-between w-full *:space-y-2"
    >
      <div>
        <h2 class="font-bold">Castle Academy</h2>
      </div>
      <div>
        <h2 class="font-bold">Halaman</h2>
        <div class="grid grid-cols-2 gap-3">
          <ul>
            <li>
              <a href="#home">Beranda</a>
            </li>
            <li>
              <a href="kursus">Katalog Kursus</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/tutor">Tutor-Tutor</a>
            </li>
            <li>
              <a href="/bantuan">Pusat Bantuan</a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <h2 class="font-bold">Hubungi Kami</h2>
        <p>itcastleacademy@gmail.com</p>
      </div>
    </div>
    <hr class="w-full border-black my-6" />
    <div class="flex items-center gap-2 text-sm md:text-base pb-14">
      Built Together With{" "}
      <a
        href="https://www.instagram.com/omahti_ugm"
        class="flex items-center gap-2 hover:opacity-80"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/omahti.webp"
          alt="OmahTI"
          width={111}
          height={15}
          sizes="60%"
          class="h-[10px] w-auto md:h-[12px] xl:h-[13px] grayscale brightness-0"
        />
      </a>
    </div>
  </div>
</footer>
