---

---

<footer class="bg-primary-600">
  <div class="container flex flex-col items-center">
    <div class="pt-14 grid grid-cols-1 md:grid-cols-3 gap-6">
      <div>
        <h2>Castle Academy</h2>
        <p>Blulaksumur, Caturtunggal, Depok, Sleman, Dearah Istimewa Yogyakarta</p>
      </div>
      <div>
        <h2>Halaman</h2>
        <ul>
          <li>
            <a href="#">Beranda</a>
          </li>
          <li>
            <a href="#">Tentang Kami</a>
          </li>
          <li>
            <a href="#">Beranda</a>
          </li>
          <li>
            <a href="#">Tentang Kami</a>
          </li>
        </ul>
      </div>
      <div>
        <h2>Hubungi Kami</h2>
        <p>Castle Academy is a platform for learning and growing.</p>
      </div>
    </div>
    <hr class="w-full border-neutral-200 my-6" />
    <div class="flex items-center gap-2 text-sm md:text-base pb-14">
      Built Together With{" "}
      <a
        href="https://www.instagram.com/omahti_ugm"
        class="flex items-center gap-2 hover:opacity-80"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/omahti.webp"
          alt="OmahTI"
          width={111}
          height={15}
          sizes="60%"
          class="h-[10px] w-auto md:h-[12px] grayscale brightness-0 invert"
        />
      </a>
    </div>
  </div>
</footer>
